body{
    background-color: rgb(65, 65, 65);
}


#app{
    display: grid;
    place-items: center;

    height: 75vh;
}

#question{
    background-color: rgb(175, 175, 175);
    border: none;
    font-size: xx-large;
    text-align: center;


    padding: 10px;
    margin-bottom: 20px;
}

#options{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

#changeDict{
    padding: 8px;
    background-color: rgb(175, 175, 175);
}

.option{
    font-size: larger;
    min-height: 50px;
    border: none;

    transition: 0.3s all;
}

.option:hover{
    transform: scale(1.08);
    background-color: gray;
}

.correct{
    background-color: greenyellow !important;
}

.wrong{
    background-color: red !important;
}

.solution{
    background-color: yellow !important;
}


.rounded-corner{
    border-radius: 15px;
}

.dynamic-size{
    width: 75vw;
    max-width: 600px;
}
